@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;700&display=swap");

:root {
  --background-color: #36ae7c;
  --card-color: #187498;
  --font-white: #f5f5f5;

  --main-font: "Nunito", sans-serif;
}

body {
  background-color: var(--background-color);

  font-family: var(--main-font);
  color: var(--font-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}
